#inner-content{
	width:95%;
	@media screen and (max-width: 1460px){
		width:85%;
	}
	@media screen and (max-width: 1200px){
		width:75%;
	}
	@media screen and (max-width: 1040px){
		width:100%;
	}
}
#main-nav #tools-we-use{
	

	@media screen and (max-width: 1040px){
		display: inline-block;
		display: -moz-inline-stack;
	}
}
#main-nav #reading-list{
	

	@media screen and (max-width: 1040px){
		display: inline-block;
		display: -moz-inline-stack;
	}
}

#sidebar{
	position:fixed;
	right:0;
	top:253px;
	width:200px;



	h4{
		font-size: 18px;
		font-weight: 300;
		line-height: 1;

		margin-left: 0px;
		text-align: left;
		border-bottom: 0px;
		color: #380982;
		border-bottom: 1px solid #8f75b9;
		padding-bottom: .75em;
		padding-left:10px;

		i{
			position:relative;
			right:5px;
		}
	}

	ul{
		margin:15px 0px 30px 0px;
	}
	li{
		margin-left:25px;
		padding:0px;
	}

	@media screen and (max-width: 1040px){
		display:none;
	}
}
#pagenavi{
	padding: 20px 0;
	height: 20px;
	line-height: 20px;
	position: relative;
	@include border-shadow();
	a{
		&:hover{
			text-decoration: underline;
		}
	}
	.prev, .next{
		position: absolute;
	}
	.prev{
		padding-left: 30px;
		left: 0;
		&:before{
			content: "\f060";
			font: 1.3em $font-icon;
			position: absolute;
			left: 0;
		}
	}
	.next{
		padding-right: 30px;
		right: 0;
		&:before{
			content: "\f061";
			font: 1.3em $font-icon;
			position: absolute;
			right: 0;
		}
	}
	.center{
		text-align: center;
		width: 100%;
		display: block;
		@media screen and (max-width: 400px){
			display: none;
		}
	}
}
